span.perc {
    font-size: 1.3em;
    position: relative;
    top: 2.5em;
}
span.perc2 {
    font-size: 1.3em;
    position: relative;
    top: 2.5em;
    color: $blueColor;
}
span.perc2.pr1 {
    left: 15.2em;
}
span.perc2.pr2 {
    left: 21.5em;
}
span.perc2.pr3 {
    left: 21.6em;
}